@import "settings";
@import "foundation";

@import url(http://fonts.googleapis.com/css?family=Lato:300|Open+Sans:600);

body
{
	background-image: url('/images/background.png');
	background-repeat: repeat;
	p 
	{
		font-family: 'Lato', sans-serif;
		font-size: 18px;
		line-height: 30px;
	}
	h1,h2,h3,h4,h5,h6
	{
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
	}
}

header 
{
	margin-top: 3em;
	text-align: center;
}

main 
{
	margin-top: 3em;
	text-align: center;
}

footer
{
	margin-top: 3em;
	text-align: left;
	p 
	{
		font-size: 0.8em;
		color: #a3a3a3;
	}	
}

.top-nav, .social-links
{
	margin-left: 0;
	list-style-type: none; 
	text-align: center;
	li
	{
		display: inline-block;
		margin: 0 20px;
	}
}